Source: docker-tianon
Section: admin
Priority: optional
Maintainer: Tianon Gravi <tianon@debian.org>
Standards-Version: 3.9.8
Build-Depends: bash-completion, debhelper (>= 9), dh-apparmor
Build-Depends-Arch: cmake,
                    dh-exec,
                    go-md2man,
                    golang-any (>= 2:1.4~) | golang-go (>= 2:1.4~) | gccgo (>= 4:5~),
                    libapparmor-dev,
                    libbtrfs-dev | btrfs-progs | btrfs-tools (>= 3.16~),
                    libdevmapper-dev,
                    libltdl-dev,
                    libseccomp-dev,
                    pkg-config
Homepage: https://www.docker.com/community-edition
Vcs-Browser: https://github.com/tianon/docker-deb-vendored
Vcs-Git: https://github.com/tianon/docker-deb-vendored.git

Package: docker-tianon
Architecture: linux-any
Depends: iptables, ${misc:Depends}, ${shlibs:Depends}
Recommends: ca-certificates,
            cgroupfs-mount | cgroup-lite,
            git,
            pigz,
            xz-utils,
            ${apparmor:Recommends}
Conflicts: docker (<< 1.5~),
           docker-ce,
           docker-ee,
           docker-engine,
           docker-engine-cs,
           docker.io,
           lxc-docker,
           lxc-docker-virtual-package
Replaces: docker-engine
Description: Docker: the open-source application container engine
 Docker is an open source project to build, ship and run any application as a
 lightweight container
 .
 Docker containers are both hardware-agnostic and platform-agnostic. This means
 they can run anywhere, from your laptop to the largest cloud compute instance and
 everything in between - and they don't require you to use a particular
 language, framework or packaging system. That makes them great building blocks
 for deploying and scaling web apps, databases, and backend services without
 depending on a particular stack or provider.
