Source: docker-tianon
Section: admin
Priority: optional
Maintainer: Tianon Gravi <tianon@debian.org>
Standards-Version: 3.9.8
Build-Depends: bash-completion,
               btrfs-progs,
               debhelper (>= 9),
               dh-apparmor,
               go-md2man,
               golang-1.8-go | golang-any (>= 2:1.8~) | golang-go (>= 2:1.8~),
               libapparmor-dev,
               libdevmapper-dev,
               libltdl-dev,
               libseccomp-dev,
               pkg-config
Homepage: https://dockerproject.org
Vcs-Browser: https://github.com/docker/docker-ce
Vcs-Git: git://github.com/docker/docker-ce.git

Package: docker-tianon
Architecture: linux-any
Depends: iptables, ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Recommends: aufs-tools,
            ca-certificates,
            cgroupfs-mount | cgroup-lite,
            git,
            xz-utils,
            ${apparmor:Recommends}
Conflicts: docker (<< 1.5~),
           docker-ce,
           docker-ee,
           docker-engine,
           docker-engine-cs,
           docker.io,
           lxc-docker,
           lxc-docker-virtual-package
Replaces: docker-engine
Description: Docker: the open-source application container engine
 Docker is an open source project to build, ship and run any application as a
 lightweight container
 .
 Docker containers are both hardware-agnostic and platform-agnostic. This means
 they can run anywhere, from your laptop to the largest EC2 compute instance and
 everything in between - and they don't require you to use a particular
 language, framework or packaging system. That makes them great building blocks
 for deploying and scaling web apps, databases, and backend services without
 depending on a particular stack or provider.
