#!/usr/bin/make -f

VERSION := $(shell cat VERSION)

SYSTEMD_VERSION := $(shell dpkg-query -W -f='$${Version}\n' systemd | cut -d- -f1)
SYSTEMD_GT_227 := $(shell [ '$(SYSTEMD_VERSION)' ] && [ '$(SYSTEMD_VERSION)' -gt 227 ] && echo true )

# prefer Go 1.8 explicitly if it's available (golang-1.8-go)
export PATH := /usr/lib/go-1.8/bin:$(PATH)
# TODO build Go from source instead

override_dh_gencontrol:
	# if we're on Ubuntu, we need to Recommends: apparmor
	echo 'apparmor:Recommends=$(shell dpkg-vendor --is Ubuntu && echo apparmor)' >> debian/docker-tianon.substvars
	dh_gencontrol

override_dh_auto_build:
	cd runc && make BUILDTAGS='seccomp apparmor selinux'
	cd containerd && make
	# TODO tini!!
	# TODO docker-proxy
	LDFLAGS='' make -C components/cli VERSION='$(VERSION)' GITCOMMIT='$(VERSION)' dynbinary manpages
	cd components/engine && ./hack/make.sh dynbinary

override_dh_auto_test:
	# runc
	./runc/runc -v
	# containerd
	./containerd/bin/containerd -v
	./containerd/bin/ctr -v
	# TODO tini
	# engine
	./components/engine/bundles/latest/dynbinary-daemon/dockerd -v
	# cli
	./components/cli/build/docker -v

override_dh_strip:
	# Go has lots of problems with stripping, so just don't

override_dh_auto_install:
	mkdir -p debian/docker-tianon/usr/bin
	cp -aTL runc/runc debian/docker-tianon/usr/bin/docker-runc
	# TODO containerd
	# TODO tini
	# TODO docker-proxy
	cp -aTL components/cli/build/docker debian/docker-tianon/usr/bin/docker
	cp -aTL components/engine/bundles/latest/dynbinary-daemon/dockerd debian/docker-tianon/usr/bin/dockerd

override_dh_installinit:
	# use "docker" as our service name, not "docker-tianon"
	dh_installinit --name=docker
ifeq (true, $(SYSTEMD_GT_227))
	$(warning "Setting TasksMax=infinity")
	sed -i -- 's/#TasksMax=infinity/TasksMax=infinity/' debian/docker-tianon/lib/systemd/system/docker.service
endif

override_dh_installudev:
	# match our existing priority
	dh_installudev --priority=z80

override_dh_install:
	dh_install
	dh_apparmor --profile-name=docker-tianon -pdocker-tianon

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

%:
	dh $@ --with=bash-completion $(shell command -v dh_systemd_enable > /dev/null 2>&1 && echo --with=systemd)
